async-timeout==4.0.3
aiohttp==3.9.4
beautifulsoup4==4.12.2
certifi==2024.07.04
discord.py==2.3.2
ffmpeg==1.4
ffmpeg-python==0.2.0
future==0.18.3
MarkupSafe==2.0.1
mutagen==1.46.0
PyNaCl==1.5.0
python-dotenv==1.0.0
pytest==7.4.0
fake-useragent==1.5.1
websocket-client==1.8.0
requests==2.32.3
websockets==12.0
yt-dlp==2024.07.07
lxml == 5.2.2
